<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.xhs.mapper.AuthorMapper">

    <resultMap id="BaseResultMap" type="authorRsp">
        <id property="id" column="ID" jdbcType="NUMERIC"/>
        <result property="authorNickName" column="AUTHOR_NICK_NAME" jdbcType="VARCHAR" />
        <result property="authorUrl" column="AUTHOR_URL" jdbcType="VARCHAR" />
        <collection property="productResourceList" ofType="productResourceRsp">
            <result property="productId" column="PRODUCT_ID" jdbcType="VARCHAR" />
            <result property="productTitle" column="PRODUCT_TITLE" jdbcType="VARCHAR" />
            <result property="downloadUrl" column="DOWNLOAD_URL" jdbcType="VARCHAR" />
            <result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP" />
        </collection>
    </resultMap>


    <insert id="insert">
        INSERT INTO author (AUTHOR_ID, AUTHOR_NICK_NAME, AUTHOR_URL)
        VALUES (#{authorId,jdbcType=VARCHAR}, #{authorNickName,jdbcType=VARCHAR}, #{authorUrl,jdbcType=VARCHAR})
        ON DUPLICATE KEY UPDATE
                             AUTHOR_NICK_NAME = VALUES(AUTHOR_NICK_NAME),
                             AUTHOR_URL = VALUES(AUTHOR_URL)
    </insert>

    <select id="query" resultMap="BaseResultMap">
        SELECT T.ID, T.AUTHOR_ID, T.AUTHOR_NICK_NAME, T.AUTHOR_URL, P.PRODUCT_ID, P.PRODUCT_TITLE, PR.DOWNLOAD_URL FROM author T LEFT JOIN PRODUCT P ON T.AUTHOR_ID = P.AUTHOR_ID LEFT JOIN product_resource PR ON PR.PRODUCT_ID = P.PRODUCT_ID WHERE 1=1
        <if test="param.authorNickName != null and param.authorNickName.trim()!=''">
            AND T.AUTHOR_NICK_NAME LIKE CONCAT('%', #{param.authorNickName,jdbcType=VARCHAR}, '%')
        </if>
        <if test="param.authorId != null and param.authorId.trim()!=''">
            AND T.AUTHOR_ID = #{param.authorId,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="list" resultType="org.example.xhs.entity.rsp.AuthorRsp">
        SELECT T.ID, T.AUTHOR_ID, T.AUTHOR_NICK_NAME FROM author T WHERE 1=1
        <if test="param.authorNickName != null and param.authorNickName.trim()!=''">
            AND T.AUTHOR_NICK_NAME LIKE CONCAT('%', #{param.authorNickName,jdbcType=VARCHAR}, '%')
        </if>
        <if test="param.authorId != null and param.authorId.trim()!=''">
            AND T.AUTHOR_ID = #{param.authorId,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>
